{% extends 'base.html.twig' %}

{% block title %}
	Editar Contato
{% endblock %}

{% block body %}
  <h2>Editar Contato</h2>

  <div class="row">
  	<a class="btn btn-primary" href="javascript:history.go(-1)">Voltar</a>
  </div>

  <form action="/contatos/{{ contato.id }}/update" method="post">
	  {% include 'contato/form.html.twig' %}
	  
	  <div class="row">
			<button type="submit" class="btn btn-success">Salvar</button>
	  </div>
  </form>
{% endblock %}