<div class="row">
	<div class="col-6">
		<div class="form-group">
			<label for="nome">Nome</label>
			<input type="text" name="nome" id="nome" class="form-control" value="{{ contato.nome | default('') }}">
		</div>
	</div>

	<div class="col-6">
		<div class="form-group">
			<label for="email">E-mail</label>
			<input type="email" name="email" id="email" class="form-control" value="{{ contato.email | default('') }}">		
		</div>
	</div>
</div>

<div class="row">
	<div class="col-4">
		<div class="form-group">
			<label for="telefone">Telefone</label>
			<input type="text" name="telefone" id="telefone" class="form-control" value="{{ contato.telefone | default('') }}">
		</div>
	</div>
</div>
